.detailItem {
	margin: 0.5rem 0;
}

.detailItem:first-child {
	margin-top: 0;
}

.detailItem:last-child {
	margin-bottom: 0;
}

.detailItem h3 {
	display: flex;
	flex-direction: column;
}

.detailItem h3 p {
	/*margin-left: 0.5rem;*/
}
