.navigationContainer {
	background-color: darkgray;
	border-bottom: 1px #ccc solid;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 2px 5px #ccc;
}

.imgContainer {
	height: 3rem;
	width: 3rem;
}

.img {
	width: 100%;
	height: 100%;
}

.navItemContainer {
	display: flex;
	flex-direction: row;
}

.navItem {
	margin-left: 0.5rem;
	padding: 0.2rem
}

.navItem p {
	font-size: 18px;
	font-weight: 500;
}

.navItem:last-child {
	margin-right: 0.5rem;
}

.navItem:hover,
.navItem:focus,
.navItem:active {
	cursor: pointer;
	color: #f2f9fc;
}